@font-face {
  src: url("./fonts/Sahel-VF.woff2");
  font-family: sahel;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Sahel, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
